body
{
    background: url(http://bigittech.com/pethotel/adorable-animal-breed-1805164.jpg);
	background-size: cover;
	background-position: center;
	font-family: 'Lato', sans-serif;
    color: white;
    text-align: center;
    background-attachment: fixed;
}

html
{
	height: 100%;
}
#content
{
	text-align: center;
	padding-top: 25%;
    text-shadow: 
    0 0 2px #000 ,
    0 0 4px #000 ,
    0 0 8px #000 ,
    0 0 10px #000,
    0 0 12px #000,
    0 0 14px #000,
    0 0 16px #000;
}
.footerWrap
{
        background: rgba(0, 0, 0, 0.849);
        padding: 10px;
        bottom: 0;
        position: fixed;
        width: 100%;
}
h1
{
	font-weight: 700;
    font-size: 4em;
    text-align: center;
}

hr
{
	width: 400px;
	max-width: 90%; /* line is set not to overddrive width of screen */
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

nav
    {
        z-index: 2;
    }
#SignUp h1
    {
        margin-top: 15px;
        margin-bottom: 15px;
    }


.login
    {
        background: #00000090;
        width: 360px;
        height: 560px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        text-align: center;
        border-radius: 10px;
    }
.signup
    {
        margin-top:7%;
        height:680px;
    }

.login h1
    {
        font-size: 60px;
        margin-top: 80px;
        margin-bottom: 60px;
    }

.tbox
    {
        width: 260px;
        height: 40px;
        background: #f1f1f1b3;
        border-radius: 10px;
        margin: 10px auto;
    }

.tbox input
    {
        background: none;
        border: none;
        outline: none;
        text-align: center;
        width: 90%;
        line-height: 37px;
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        color: #fff
    }

.btn_log
    {
        width: 260px;
        height: 40px;
        background: #3498db;
        border-radius: 10px;
        margin: 14px auto;
        display: block;
        font-family: "Montserrat",sans-serif;
        font-size: 20px;
        font-weight: bold;
        border: none;
        color: white;
        cursor: pointer;
    }

.b1
    {
        display: block;
        width: 260px;
        padding: 10px 0;
        text-decoration: none;
        color: white;
        text-align: center;
        margin: auto;
       transition: 0.4s all;
       border-radius: 10px;
    }

.b2
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 260px;
        margin-top:10px;
        padding: 10px 0;
        text-decoration: none;
        text-align: center;
        transition: 0.4s all;
        color: #3498db;
        border-radius: 10px;
    }
.hov:hover
    {
        background: #ffffff50;
        color: red;
        border-radius: 10px;
    }
/*
a:hover hov
    {
        
    }
    */
.error
    {
        color:red;
        margin:10px;
    }
.welcome
    {
        margin: 20px auto;
        display: block;
        font-family: "Montserrat",sans-serif;
        font-size: 26px;
        font-weight: bold;
        border: none;
        color: #3498db;
    }
#games
    {
        text-align: left;
    }
.mingame
    {
        color: rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.849);
        padding: 50px;
        border-radius: 10px;
    }
.mingame1
    {
        margin: 30px;
    }
.for
    {
        padding-top: 30px;
    }

.noHover
{
    pointer-events: none;
}

.navbar-default .navbar-nav > .btnLogOut > a
{
    color: #3498db;
    font-size: 20px;
}

.signup .g-recaptcha
{
    margin-left: 30px;
}

.col-lg-8
{
    padding: 0;
}

.img-responsive
{
    width: 1900px;
}

.parallax1
{
    background: url(http://bigittech.com/pethotel/gallery/1.jpg);
}

.parallax2
{
    background: url(http://bigittech.com/pethotel/gallery/2.jpg);

}

.parallax3
{
    background: url(http://bigittech.com/pethotel/gallery/3.jpg);
}

.parallax4
{
    background: url(http://bigittech.com/pethotel/gallery/4.jpg);

}

.parallax5
{
    background: url(http://bigittech.com/pethotel/gallery/5.jpg);
}

.parallax6
{
    background: url(http://bigittech.com/pethotel/gallery/6.jpg);
}

.parallax7
{
    background: url(http://bigittech.com/pethotel/gallery/7.jpg);
}

.parallax8
{
    background: url(http://bigittech.com/pethotel/gallery/8.jpg);
}

.parallax9
{
    background: url(http://bigittech.com/pethotel/gallery/9.jpg);
}

.parallax10
{
    background: url(http://bigittech.com/pethotel/gallery/10.jpg);
}

.parallax11
{
    background: url(http://bigittech.com/pethotel/gallery/11.jpg);
}

.parallax12
{
    background: url(http://bigittech.com/pethotel/gallery/12.jpg);
}

.parallax13
{
    background: url(http://bigittech.com/pethotel/gallery/13.jpg);
}

.parallax1, .parallax2, .parallax3, .parallax4, .parallax5, .parallax6, .parallax7, 
.parallax8, .parallax9, .parallax10, .parallax11, .parallax12, .parallax13
{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 650px;
}

.parallax-heading
{
    
    padding: 50px 80px;
    background-color: #323232;
    color:white;
    font-weight: 700;
    font-size:  60px;
}

.col-lg-8, .col-lg-4, .container-fluid
{
    padding: 0px;
    top:50%;
    
}
.navbar {
	margin-bottom: 0px;
}