body
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#00000090,#00000090), url(http://bigittech.com/pethotel/gallery/adorable-animal-breed-1805164-min.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
    color: #eee;
}

img
{
    width: 100%;
}

hr
{
    max-width: 90%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #00000066;
}

h1
{
	font-weight: 700;
    font-size: 4rem;
    text-align: center;
}

.dropdown-menu
{
    background-color: transparent;
    border: transparent;
}

.dropdown-item
{
    color: #fff;
}

.dropdown-item:hover
{
    background-color: transparent;
    font-size: 1.1rem;
    font-weight: 700;
    color: #fff;
}

.mainContainer
{
    padding: 3rem 0;
    text-align:center;
}

.mainContainer h3
{
    font-size: 2rem;
    padding: 1rem;
}

.landing-text
{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.landing-text span
{
    font-size: 2rem;
    color: #3498db;
}

.footerWrap
{
        background: #000000e6;
        padding: 0.6rem;
        bottom: 0;
        position: fixed;
        width: 100%;
        text-align: center;
}

.about
{
    padding-top: 10%;
}



.about-details
{
    background-color: #3498db;
    font-size: 1.5rem;
    text-align: left;
}

.about-details span
{
    font-size: 2.4rem;
    font-weight: 900;
}

.tbox
     {
        width: 260px;
        background: #f1f1f1b3;
        border-radius: 10px;
        margin: 10px auto;
        font-size: 1.2rem;
        color: #fff;
    }

.tbox input, .tbox select
    {
         width: 260px;
        height: 40px;
        background: none;
        border: none; 
        outline: none;
        text-align: center;
        width: 95%;
        line-height: 37px;
        font-size: 1.2rem;
        color: #fff
    }

.btnSubmit
    {
        width: 260px;
        height: 40px;
        background: #3498db;
        border-radius: 10px;
        margin: 14px auto;
        display: block;
        font-size: 20px;
        font-weight: bold;
        border: none;
        color: white;
        cursor: pointer;
    }

.btnHov:hover
{
    background: #ffffff50;
    color: #db0000;
    border-radius: 10px;
}

.pricing
{
    padding: 8% 0;
}

.pricing li
{
    list-style: none;
}

.pricing h2
{
    font-size: 2.5rem;
    font-weight: 700;
}

.pricing h3
{
    padding: 2rem;
}


.pricing span
{
    font-size: 2rem;
    float: right;


}

.pricing hr
{
    margin: 2rem;
}

.galleryDetails :last-of-type
{
    padding-bottom:3rem; 
}

.galleryDetails
{
    background-color: #0076a3;
    color:white;
    font-weight: 700;
    font-size:  50px;
    text-align: center;
}


.services:focus
{
    color: #000
}

.reservationDetails
{
    margin-top: 5rem;
}

.g-recaptchaFix
{
    margin-left: 30px;
}

.b1
    {
        display: block;
        width: 260px;
        padding: 10px 0;
        text-decoration: none;
        color: white;
        text-align: center;
        margin: auto;
       transition: 0.4s all;
       border-radius: 10px;
    }

.b2
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 260px;
        margin-top:10px;
        padding: 10px 0;
        text-decoration: none;
        text-align: center;
        transition: 0.4s all;
        color: #3498db;
        border-radius: 10px;
    }

.error
    {
        color:red;
        margin:10px;
    }

.noHover
    {
        pointer-events: none;
    }

.welcome
    {
        font-size: 26px;
        font-weight: bold;
        color: #3498db;
    }